.body {
	background-color: #000;
	margin: 0 auto;
}

.rcorners1 {
    margin: 0 auto;
    border-radius: 25px;
    border: 10px solid #7EC2E5;
    width: 700px;
    height: 700px;
}

.rcorners2 {
    display: inline-block;
    border-radius: 15px;
    width: 96%;
    background-color: #7EC2E5;
    vertical-align: middle;
    margin: 10px 15px;
    background-image: linear-gradient(to bottom, #82C4E2, #A7D2D1);
}

.content {
	height: 680px;
	text-align: center;
}

.content:before {
  content: '';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }

.sq-alpha {
	position: absolute;
    border-radius: 5px;
	width: 230px;
	height: 230px;
	background-color: #FFF;
	text-align: center;
	margin: 0 auto;
	color: #7EC2E5;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.sq-alpha:before {
  content: '';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }

.sq-alpha p {
	display: inline-block;
	vertical-align: middle;
	font-size: 70px;
}

.sqcenter {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 530px;
	height: 530px;
}

.sqcenter:before {
  content: '';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }


.sqcenter-2 {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 200px;
	opacity: .1;
	padding: 10px 15px;
	background: #F00;
}

.sqlast {
	width: 380px;
	height: 380px;
	background-color: #FFF;
	opacity: .5;
	display: inline-block;
    vertical-align: middle;
}

